[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
notebook ="*"
awscli = "*"
ipykernel = "*"

[packages]
smart-open= {extras = ["s3"], version = "==6.4"}
spacy = "==3.6.1"
python-dotenv = ">=1.2.2"
spacy-lookups-data = "*"
de-core-news-md = {file = "https://github.com/explosion/spacy-models/releases/download/de_core_news_md-3.6.0/de_core_news_md-3.6.0.tar.gz"}
fr-core-news-md = {file = "https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.6.0/fr_core_news_md-3.6.0.tar.gz"}
en-core-web-md = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.6.0/en_core_web_md-3.6.0.tar.gz"}
es-core-news-md = {file = "https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.6.0/es_core_news_md-3.6.0.tar.gz"}
boto3 = "==1.35.95"
jsonschema = "*"
numpy = "==1.26.*"
jq = "*"
impresso-cookbook = {editable = true, path = "./cookbook/lib"}
[requires]
python_version = "3.11"
# for spacy 3.6.1
[pipenv]
allow_prereleases = true
